<div class="resume">
  <section class="skills row">
    <div class="col-md-12">
      <h1>Skills</h2>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Ruby, Ruby on Rails</li>
        <li>JavaScript, jQuery</li>
        <li>PostgreSQL</li>
        <li>RSpec, Capybara, Poltergeist</li>
        <li>HTML5, CSS3, Bootstrap, Sass</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Git, GitHub</li>
        <li>Heroku</li>
        <li>Responsive Design</li>
        <li>MVC Architecture</li>
        <li>PhotoShop, Illustrator</li>
      </ul>
    </div>
  </section>

  <section class="row work-experience">
    <div class="col-md-12">
      <h1>Work Experience</h1>
    </div>
    <article class="entry col-md-12">
      <header>
        <h2>HeatSpring <small>Web Development Intern</small></h2>
        <h4>August 2015</h4>
      </header>
      <ul>
        <li>Leveraging Ruby on Rails, JavaScript, and Sass to streamline features and interfaces</li>
        <li>Refactoring legacy code for improved maintainability and performance </li>
        <li>Maintaining thorough test coverage with RSpec, Capybara, and Poltergeist</li>
        <li>Using Git and GitHub for version control and code reviews </li>
        <li>Working in a small team alongside a senior level mentor</li>
      </ul>
    </article>

    <article class="entry col-md-12">
      <header>
        <h2>Dynamic Events <small>Junior Web Developer</small></h2>
        <h4>2013-2015</h4>
      </header>
      <ul>
        <li>Leveraging HTML, CSS, and jQuery to develop registration websites</li>
        <li>Creating responsive email blasts with HTML, CSS, and ExactTarget aimed at potential attendees and Microsoft executives</li>
        <li>Working closely with a design team and a QA team to create beautiful user experiences for websites and email blasts across all major browsers and email clients</li>
        <li>Identifying and communicating problems with non-technical team members and clients</li>
        <li>Leveraging  MVC templates, SQL, and jQuery to build call-for-papers applications</li>
        <li>Generating custom reporting with Crystal Reports</li>

      </ul>
    </article>

    <article class="entry col-md-12">
      <header>
        <h2>The Associated Students of WSU Vancouver <small>Assistant Director of Communications</small></h2>
        <h4>2012-2013</h4>
      </header>
      <ul>
        <li>Maintaining the student body website with HTML and CSS through a CMS</li>
        <li>Constructing a development road-map for the website and the society's web presence</li>
        <li>Using PhotoShop and Illustrator to Design print and digital advertisements</li>
        <li>Working in a professional environment with a large team</li>
      </ul>
    </article>
  </section>

  <section class="row education">
    <div class="col-md-12">
      <h1>Education</h1>
    </div>
    <article class="entry col-md-12">
      <header>
        <h2>Epicodus <small>Graduating class of spring 2015</small></h2>
      </header>
      <ul>
        <li>Program: A 15 week vocational course for full-stack web development</li>
        <li>Technologies: Ruby, Git, PostgreSQL, JavaScript, jQuery, Ember.js, Ruby on Rails</li>
      </ul>
    </article>

    <article class="entry col-md-12">
      <header>
        <h2>Washington  State  University  Vancouver <small>Graduating class of spring 2013</small></h2>
      </header>
      <ul>
        <li>B.A.  Digital Technology and Culture</li>
        <li>Program:  Creative Media and Digital Culture</li>
      </ul>
    </article>
  </section>
</div>
