@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';
@import 'sprockets-octicons';

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.linkedin {
  border: 1px solid;
  border-radius: 3px;
  display: block;
  font-family: $myriad-pro;
  text-align: center;
  width: 24px;

  &:hover {
    text-decoration: none;
  }
}

.glyphicon,
.octicon {
  font-size: 24px;
}

.contact {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
  text-align: center;
  
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5rem;
  }
}

.flash {
  background: rgba(256, 0, 0, .5);
  left: 50%;
  position: fixed;
  top: 0;
  transform: translate(-50%);
  z-index: 9999;
}

.profile {

  h1 {
    font-size: 3.5em;
    text-align: center;
  }

  .picture {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-height: 250px;
    max-width: 250px;
  }
}

.content {
  min-height: 403px;
}

@media (min-width: 970px) {
  .content {
    border-image: linear-gradient(to right, $grey, $white) 1 100%;
    border-width: 3px 0 3px 7px;
  }
}
